html {
	overflow-y: scroll;
}

.container.main-body{
	margin-top: 51px;
	padding: 15px;
	min-height: 585px;
}

footer {
	background-color: #ccc;
	padding: 15px;
	text-align: center;
	font-weight: bold;
}
